*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}
project-card{
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    background-color: #fff;
    margin: 16px;
    width: 300px;
    height: auto;
}
.project-card:hover {
    transform: translateY(-5px);
}
.project-card img {
    width: 100%;
    height: auto;
}
.project-card-content {
    padding: 16px;
}
.project-card h3 {
    margin: 0 0 8px 0;
    font-size: 1.5em;
}
.project-card p {
    font-size: 1em;
    color: #555;
    margin-bottom: 12px;
}
.project-card .tags, .project-card .skills {
    margin-bottom: 8px;
}