.about,
.skills,
.looper,
.timeline {
  color: #dfdfdf;
  background-color: #101010;
  padding: 40px 0px;
  font-size: 1.2rem;
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1rem;
  position: relative;
  padding: 40px 20px;
}

.info h2,
.skills h2,
.looper h2,
.timeline h2:first-child,
.github-title,
.project-title h1 {
  font-size: 4rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
  font-weight: bold;
  color: #dfdfdf;
  background: linear-gradient(
    90deg,
    #40ffaa,
    #4079ff,
    #40ffaa,
    #4079ff,
    #40ffaa
  );
  background-size: 200% auto;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  animation: shine 3s linear infinite;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
}
.skill-set,
section {
  width: 100%;
}

.description {
  font-size: 24px;
  margin-top: 10px;
  font-weight: 500;
  text-align: left;
}

.profile-description {
  font-size: 18px;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  max-width: 650px;
  margin-left: 40px;
  h3{
    font-size: 16px;
  }
}

.navbar,
nav {
  position: sticky;
  top: 10px;
  display: flex;
  justify-content: center;
  background: rgba(20, 20, 20, 0.3);
  backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.15);
  padding: 1.2rem 2rem;
  z-index: 1000;
  border-radius: 30px;
  margin: 0 auto;
  width: 30%;
}

.navLinks {
  display: flex;
  list-style: none;
  gap: 3rem;
  margin: 0;
  padding: 0;
}

.links {
  color: #dfdfdf;
  text-decoration: none;
  font-weight: 600;
  font-size: 1rem;
  transition: color 0.2s;
  font-family: "Montserrat", sans-serif;
  position: relative;
}

.links::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: #dfdfdf;
  transform-origin: bottom left;
  transition: transform 0.3s ease;
}

.links:hover::after {
  transform: scaleX(1);
}

.links:hover {
  color: #bcbcbc;
}

/* profile section */
.profile-container {
  overflow: hidden;
  display: grid;
  grid-template-columns: 800px 1fr;
  width: 100%;
}

.profile-image {
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  justify-self: flex-end;
  filter: grayscale(1);
  transition: filter 0.5s;
}

.profile-image:hover {
  filter: grayscale(0);
  transition: filter 0.5s;
}

.profile-card{
 flex: 1;
 align-self: center;
}

@media (max-width: 900px) {
  .profile-container {
    grid-template-columns: 1fr;
  }
}

/* Tech Arsenal */
.skill-container {
  max-width: 1280px;
  width: 100%;
}

.expressjs,
.prisma,
.gsap,
.motion {
  background-color: #dfdfdf !important;
  border-radius: 5px !important;
  padding: 2px;
}
.nextjs {
  border: 1px solid #f6f6f6;
  border-radius: 12px;
}

.github {
  background-color: #dfdfdf !important;
  border: 1px solid #f6f6f6;
  border-radius: 12px;
}

.front-end,
.back-end,
.database,
.tools {
  display: grid;
  grid-template-columns: 300px 1fr;
  margin-bottom: 4rem;
  align-items: flex-start;
}

.tech-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  overflow: hidden;
}

.tech-container .tech-item {
  display: flex;
  gap: 1rem;
}

.tech-container .tech-item img {
  width: 1.5rem;
  height: 1.5rem;
}

/* project showcase */
/* .projectshowcase {

} */

@media (max-width: 769px) {
  .info h2,
  .skills h2,
  .looper h2,
  .timeline h2:first-child,
  .github-title {
    font-size: 2.5rem;
  }

  .navbar {
    width: 80%;
  }

  .navLinks {
    gap: 1.5rem;
  }

  .links {
    font-size: 0.76rem;
  }

  .description {
    font-size: 18px;
    line-height: normal;
  }
  .profile-description {
    padding: 20px;
    font-size: 18px;
  }
}

@media (max-width: 480px) {
  .navLinks {
    gap: 1rem;
  }
  .links {
    font-size: 0.76rem;
  }
}
