.navbar {
    display: flex;
    align-items: center;
    background: #dfdfdf;
    padding: 1.2rem;
    z-index: 100;
    border-radius: 20px;
    width: 550px;
    justify-self: center;
    justify-content: center;
    margin-top: 30px;
    position: absolute;
}
.navLinks {
    display: flex;
    list-style: none;
    gap: 5rem;
    margin: 0;
    padding: 0;
}
.links {
    color: #000000;
    text-decoration: none;
    font-weight: 600;
    font-size: 1rem;
    transition: color 0.2s;
    font-family: "Montserrat", sans-serif;
    position: relative;
}
/* Pseudo-element for the underline */
.links::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0); /* Initially hide the underline */
  height: 2px;
  bottom: -5px; /* Position it below the text */
  left: 0;
  background-color: #555555;
  transform-origin: bottom left; /* Set the animation origin to the left */
  transition: transform 0.3s ease; /* Animate the transform property */
}

/* Hover effect: grow the underline */
.links:hover::after {
  transform: scaleX(1);
}

/* Optional: change the text color on hover */
.links:hover {
  color: #000000;
}